/* global variables  */
:root {
    --bg-color:#181C18;
    --text-color: #ffffff;
    --font-para : 'Roboto Mono';
    --font-title : 'Verdana';
}

/* navbar  */

.navbar{
    background: #181C18;
}


/* carousal  */
/* adding slider image */
.carousel{
    background: url(/images/3.jpg);
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
}

/* this gives an black overley to  slider image*/
.carousel::before{
    content: "";
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    background: black;
    opacity: 0.6;
}

.carousel-item{
    padding-left: 10vw;
    padding-top: 15vh;
}

/* @media screen and (min-width: 480px) {
    .carousel {
      height: 40vh;
    }
  } */

.card{
    height: 16rem;
    width: 16rem;
}






