:root {
    --bg-color:#181C18;
    --text-color: #ffffff;
    --font-para : 'Roboto Mono';
    --font-title : 'Verdana';
}

body{
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: var(--bg-color);
    box-shadow: #ffffff;
}

.active{
    color: white;
}

#navMainHead{
    color: lightblue;
    font-weight: 600;
    margin-bottom: 0px;
    padding-bottom: 0px;
    

}
#navSubHead{
    color: white;
    margin: 0px;
    padding: 0px;

    
}

.nav-link{
    align-items: right;
    
}
a{
}